.datepicker{
	display: inline-block;
	position: relative;
	width: 110px;
	height: 30px;
	&:hover{
		.btn_reset{
			display: block;
		}
	}
	.ipt_button{
		width: 100%;
		@include ellipsis();
	}
	.btn_reset{
		@include setContent(21px,100%, none, absolute, $white);
		z-index: 2;
		top:50%;
		right: 0px;
		box-sizing: border-box;
		border: 1px solid #A8B7C7;
		border-left: none;
		border-radius: 0 4px 4px 0;
		transform: translateY(-50%);
		&:before, &:after{
			content:"";
			@include setContent(10px, 2px, block, absolute, #A8B7C7);
			top: 50%;
			left: 50%;
		}
		&:before {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		&:after {
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}
	.react-datepicker-wrapper, .react-datepicker__input-container, .ipt_button{
		width: 100%;
		height: 100%;
		text-align: left;
	}
	&.big{
		height: 40px;
		.btn_reset{
			width: 28px;
			&:before, &:after{
				width: 13px;
				transform: translate(0, -50%) rotate(45deg);
			}
		}
	}
	&.ico {
		width: 160px;
		.ipt_button{
			padding-right: 23px;
			@include bgSvg(fnIcoCalendar("rgb(176, 173, 171)"), no-repeat, calc(100% - 5px) 50%, 15px, $white);
		}
	}
	&.big.ico .ipt_button{
		padding-right: 33px;
		background-position-x: calc(100% - 12px);
	}
	&.half{
		width: calc(50% - 5px);
		&+.half{
			margin-left: 10px;
		}
	} 
}
.react-datepicker{
	position: relative;
}
.react-datepicker-wrapper{
	display: inline-block;
}
.react-datepicker__navigation {
	width: 32px;
	height: 62px;
	border-radius: 4px;
	user-select: none;
	position: absolute;
	top:0;
	@include blind;
	span{
		@include setContent(100%, 100%, block);
		@include bgSvg(fnIcoArrow("rgba(0, 0, 0, 0.5)"), no-repeat, 50% 50%, 8px);
		
	}
}
.react-datepicker__navigation--previous{
	left: 15px;
}
.react-datepicker__navigation--next{
	transform: rotate(180deg);
	right: 15px;
}

.react-datepicker-popper {
	background: #fff;
	border: 1px solid #E3E3E3;
	border-radius: 8px;
	padding: 0;
	box-sizing: border-box;
	font-size: calcRem(16px);
	color: $black;
	width: 256px;
	z-index: 100; 
	&[data-placement^=top-start]{
		margin-bottom: 10px;
		.react-datepicker__triangle {
			bottom:-6px;
			&:before{
				top: 0;
				transform: rotate(225deg);
			}
		}
	}
	&[data-placement^=bottom-start]{
		margin-top: 10px;
	}
}
.react-datepicker__current-month{
	padding: 20px 56px;
    font-size: calcRem(14px);
	text-align: center;
	font-weight: $bold;
}

.react-datepicker__day-names {
	position: relative;
	display: flex;
	justify-content: center;
    padding: 0 15px;
}
.react-datepicker__day-name {
	font-size: calcRem(12px);
	color: rgba(0, 0, 0, 0.6);
	width: 32px;
	height: 16px;
	justify-content: center;
	text-align: center;
	font-weight: $bold;
}
.react-datepicker__week{
	display: flex;
    justify-content: center;
    padding: 0 15px;
}
.react-datepicker__day{
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	z-index: 1; 
	border-radius: 50%;
	padding-top: 2px;
	box-sizing: border-box;
	&:hover{
		background-color: #eaeaea; 
	}
}
.react-datepicker__day--outside-month{
	visibility: hidden;
}
.react-datepicker__day--today{
	color: #32B8D3;
	font-weight: $bold;
	border-radius: 50%;
}
.react-datepicker__day--selected{
	background: $point;
	color:$white;
	&:hover{
		color:$black;
	}
}
.react-datepicker__triangle {
	position: absolute;
	width: 10px;
	height: 10px;
	z-index: -1; 
	&:before{
		content:"";
		@include setContent(100%, 100%, block, absolute);
		top:-6px;
		background: $white;
		border-top: 1px solid #dbdbdb;
		border-left: 1px solid #dbdbdb;
		transform: rotate(45deg);
	}
}
.react-datepicker__header {
	margin-bottom: 5px;
}
.react-datepicker__month{
	padding-bottom: 20px;
}