.p_board{
	background: $white; 
	padding: 30px 80px 60px;
	.tab{
		box-sizing: border-box;
		border-bottom: 1px solid #DADADA;
		text-align: center;
		.t_menu{
			display: inline-block;
			font-size: calcRem(24px);
			padding: 40px 50px;
			color:#979797;
			&.on{
				color:$black;
			}
		}
	}
	.wrap_boad{
		.bx_search{
			text-align: right;
			margin: 80px 0 75px 16px;
			.slct{
				width: 127px;
				height: 48px;
				.slct_tit{
					padding: 2px 22px 0 20px;
				}
				.slct_cont{
					top:47px;
					li{
						padding: 8px 9px 6px 24px; 
					}
				}
			}
			.bx_ipt{
				width: 730px;
				height: 48px;
				.ipt_ico{
					padding: 0 43px 0 20px;
				}
				.btn_search{
					right: 14px;
				}
			}
		}
		.top {
			display: flex;
			margin: 0 10px 19px;
			button{
				margin: 5px 5px;
			}
			.left{
				padding-right: 30px;
				display: flex;
				align-items: center;
				button{
					min-width: 124px;
				}
			}
			.right{
				display: flex;
				align-items: center;
			}
			.total{
				font-weight: $weight;
				strong{
					font-weight: $bold;
					color : $orange;
				}
			}
		}
		.tbl_board{
			margin-bottom: 100px;
		}
		.tbl_create{
			margin-bottom: 60px;
		}
		.bx_btn{
			text-align: right;
			button{
				margin: 0 8px;
			}
		}
		.half{
			width: calc(50% - 8px);
			&+.half{
				margin-left: 9px;
			}
		}
	}
	.wrap_detail{
		strong{
			color: #F58080;
		}
		.top{
			.bx_btn{
				text-align: right;
				margin: 80px 0 0;
			}
			.bx_tit{
				font-size: calcRem(17px);
				padding: 12px 0;
				border-bottom: 1px solid #C8C8C8;
				font-weight: $weight;
			}
			.bx_desc{
				font-size: calcRem(12px);
				li {
					display: inline-block;
					vertical-align: middle;
					padding: 10px 0;
					color: #979797;
					&:after{
						content:"";
						@include setContent(1px, 14px, inline-block, relative, #d3d3d3);
						margin: -3px 10px 0;
						vertical-align: middle;
					}
					&:last-child:after{
						display: none;
					}
				}
			}
		}
		.cont{
			padding: 35px 0 90px;
			min-height: 450px;
			box-sizing: border-box;
			img, video{
				max-width: 100%;
			}
		}
		.bx_replye{
			font-size: calcRem(14px);
			margin-bottom: 120px;
			.bx_btn{
				text-align: right;
				border-bottom: 1px solid #979797;
				padding-bottom: 10px;
				button, em{
					display: inline-block;
					vertical-align: middle;
				}
				button{
					font-weight: $weight;
					color: $black;
				}
				.ico_bar{
					height: 12px;
					margin: 0 6px;
				}
			}
			li{
				box-sizing: border-box;
				padding: 18px 37px;
				border-bottom: 1px solid #DDDBDA;
			}
			ul ul{
				margin-top: 20px;
				border-top: 1px solid #DDDBDA;
				& > li:last-child{
					border-bottom: none;
					padding-bottom: 0;
				}
			}
			.profile{
				font-weight: $bold;
				margin-left: -37px;
				img{
					width: 25px;
					height: 25px;
					border-radius: 50%;
					vertical-align: middle;
					margin-right: 8px;
				}
			}
			.desc{
				margin: 20px 0 10px;
			}
			.date{
				font-size: calcRem(11px);
				color: #b0b0b0;
				&+.btn{
					margin-top:16px;
				}
			}
			.form_replye{
				margin-top: 40px;
				padding: 20px 32px 48px;
				border: 1px solid #C8C8C8;
				box-sizing: border-box;
				border-radius: 6px;
				h4{
					font-size: calcRem(14px);
					color: #979797;
					margin-bottom: 36px;
				}
				.bx{
					width: 100%;
					&:after{
						@include clear;
					}
					input, textarea{
						width: calc(100% - 85px);
						float: left;
						background: #eee;
					}
					textarea{
						height: 82px;
						&+button{
							height: 82px;
						}
					}
					button{
						float: right;
					}
				}
			}
		}
		.paginate{
			display: block;
			height: auto;
			font-size: calcRem(14px);
			.bx{
				padding: 9px 0;
				box-sizing: border-box;
				width: 100%;
				&:last-child{
					border-top: 1px solid #DDDBDA;
				}
			}
			.tit{
				display: inline-block;
				@include ellipsis;
				width: calc(100% - 80px); 
				padding-left: 36px;
				box-sizing: border-box;
				vertical-align: middle;
			}
			.btn_next, .btn_prev{
				&:after{
					content:"";
					margin: 0 10px;
					@include setContent(7px, 12px,inline-block);
					@include bgSvg(fnIcoArrow("rgb(0, 0, 0)"), no-repeat, 50% 50%, 100%);
				}
			}
			.btn_prev{
				&:after{
					transform: rotate(90deg);
				}
			}
			.btn_next{
				&:after{
					transform: rotate(270deg);
				}
			} 
		}
	}
}
//회원
.p_member{
	display: flex;
	flex-direction: row;
	align-items: left;
	box-sizing: border-box;
	padding: 80px 30px;
	font-size: calcRem(14px);
	.area{
		display: block;
		margin-right: 30px;
		background: $white; 
		box-sizing: border-box;
		padding: 30px 15px;
		border-radius: 10px;
		&:last-child{
			margin-right: 0;
		}
		&.cont{
			flex-grow: 1;
			padding: 30px 40px;
		}
		h3{
			margin-bottom: 20px;
		}
	}
	.a_search{
		width: 240px;
		flex-shrink: 0;
		overflow-y: auto;
		.tit{
			display: block;
			margin: 30px 0 5px;
		}
		.bx_ipt{
			margin: 0;
			width: 100%;
		}
		.bx_chk{
			margin: 10px 0;
			width: 100%;
		}
		h3{
			text-align: center;
			margin-bottom: 30px;
		}
	}
	.a_slct{
		width: 160px;
		flex-shrink: 0;
		padding: 30px 0;
		overflow-y: auto;
		h3{
			text-align: center;
		}
		li{
			padding: 9px 5px 7px;
			text-align: center;
			font-size: calcRem(15px);
			&.on{
				background: #CDF4F2;
			}
		}
		h3,h4{
			text-align: center;
		}
	}
	.cont{
		padding: 30px 40px 40px;
		.tbl{
			max-height: 100%;
			overflow-y: auto;
		}
	}
	.paginate{
		justify-content: center;
		margin-top: 80px;
	}
} 
.p_incentive{
	h2{
		font-weight: $weight;
		margin-bottom: 40px;
		.step{
			display: inline-block;
			background: $point;
			color:$white;
			padding: 3px 10px 4px;
			margin-right: 10px;
			border-radius: 4px;
		}
	}
	.cont{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap; 
		box-sizing: border-box;
		padding: 80px 0;
		font-size: calcRem(14px);
	}
	.area{
		background: #F5EFE0;
		padding: 24px 20px;
		border-radius: 8px;
		margin-right: 20px;
		flex-shrink: 0;
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		h4{
			margin-right: 10px;
		}
		.num{
			font-size: calcRem(32px);
			vertical-align: middle;
			margin-right: 10px;
		}
		.bx_chk{
			margin: 10px;
		}
	}
	.form_create{
		.unit{
			padding-right: 50px;
			// width: auto;
		}
		.bx_ipt_tit.date{
			flex-shrink: 0;
			align-items: center;
			em{
				margin: 0 6px;
			}
		}
		.bx_ipt_tit{
			.row{
				height: 40px;
				margin: 0;
				align-items: center;
			}
			.bx_chk{
				margin-right: 20px;
			}
		}
	}
	.bx_btn{
		margin: 80px auto 0;
		.btn{
			padding: 20px 20px 19px;
			min-width: 480px;
		}
	}
	input[type=text], input[type=password], input[type=tel], input[type=email], input[type=number], textarea {
		height: 40px;
		padding: 2px 20px 0;
	}
	.datepicker{
		height: 40px;
		.ipt_button{
			padding: 0px 20px 0 15px;
		}
		&.ico{
			.ipt_button{
				padding-right: 33px;
				background-position-x: calc(100% - 12px);
			}
		}
	}
}