/*Hashing*/
$version: "?v=1";

/*Font 및 Color*/
$family: "Apple SD Gothic Neo", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Malgun Gothic","맑은 고딕","돋움",Dotum,"굴림",Gulim,Helvetica,sans-serif;
$bold: normal;
$weight :100; 
$font:16px; 

$width: 100%;


$white: #ffffff;
$black : #000000;
$green: #025454;
$green_light: #00a9c0;
$green_dark: #2f4d56;
$bule_light: #005ec0;
$bule_dark: #002470;
$brown_light: #9a8478;
$brown_dark: #1e130c;
$purple_light: #c567d8;
$purple_dark: #361bb2;
$yellow: #fdef72;
$point:#32b8d3; 
$red:#DF3333;
$orange:#FF6F06;
